.signup {
    background-color: #d2e0f2;
}

.signup_container {
    margin-top: 150px;
    background-color: rgb(203, 203, 230);
    border: 3px solid;
    border-color: black;
}

.tit {
    display: flex;
    justify-content: center;
}